<% content_for :javascript do %>
  <script>
    $(function() {
      new OttawaURSSP.SortableTable('#legal-applications-table');
    });
  </script>
<% end %>

<h4><%= current_user.name %> - <%= link_to "My Profile", lawyer_path(current_user) %></h4>
<% if @applications.present? %>
  <%= render partial: "legal_internal/applications", locals: { applications: @applications } %>
<% else %>
  <div>
    This is where you will see information about the sponsor group(s) that you've been matched to.
    If you haven't been matched yet, you won't see any groups in the table below.
    For more information about the matching process and to see resources that will help you as an SSP Pro Bono Lawyer, visit
    <a href='http://refugeessp.ca/ssp-pro-bono-lawyers/' target='_blank'>http://refugeessp.ca/ssp-pro-bono-lawyers/</a>
  </div>
<% end %>
<br>
<p>
  <%= link_to "Sign out", session_path, method: :delete, data: { confirm: "Are you sure you want to sign out?" }, class: 'btn btn-danger' %>
</p>
