<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @follow_up_call_form, url: legal_internal_follow_up_call_form_path, method: :put do |form| %>
      <%= form.hidden_field :application_id, value: @application.id %>
      <%= render partial: "form", locals: { follow_up_call_form: @follow_up_call_form, form: form } %>
      <div>
        <%= form.submit 'Submit', class: 'btn btn-primary btn-lg' %>
      </div>
    <% end %>
  </div>
</div>
