<div style='padding-top:20px; margin-top: 20px; border-top: 1px solid'>
  <div class="float-left beta-feedback">
    Questions or feedback? <%= mail_to "refugeessp@uottawa.ca", "Let us know", subject: "OttawaU Refugee SSP App Feedback" %>
  </div>
  <div class="float-right">
    <%= image_tag("uottawa_logo.png", size: "125x32")%>
  </div>
</div>
