<div style='padding-top:10px'>
  <b>IMPORTANT:</b>
  <i>We will do everything we can to protect your personal information, including storing it using secure protocols and protecting it
  from being shared without your consent. However, information that is stored on or passes through servers located in the United States is subject to
  US information and privacy laws and we cannot control whether it is accessed by US authorities. ‎This is the case for any information that you share
  using, for example, Google email accounts, whether in the context of this program or not. It is also the case for information collected through this
  application form. For this reason, we do not collect or store detailed information about prospective refugees (including names, birth dates, etc.)
  using this online program.</i>
</div>
