<h1>OttawaU Refugee Sponsorship Support Program</h1>

<p><%= link_to "Sponsor application", new_intake_forms_path %></p>
<p><%= link_to "Lawyer application", root_path %></p>
<p><%= link_to "Student application", root_path %></p>
<p><%= link_to "Sign in", new_session_path %></p>
