<h1>OttawaU Refugee Sponsorship Support Program</h1>

<p><%= link_to "Sponsor application", new_intake_form_path %></p>
<p><%= link_to "Lawyer application", new_lawyer_path %></p>
<p><%= link_to "Student application", new_student_path %></p>
<p><%= link_to "Sign in", new_session_path %></p>
