<%= render partial: "admin/nav_bar", locals: { active: 'lawyers' } %>

<div class="row">
  <div class="col col-md-12">
    <hr>
  </div>
  <div class="col col-xs-6 col-sm-6 col-md-6 text-left">
    <h1><%= @lawyer.name %></h1>
  </div>
</div>

<%= render partial: "shared/lawyer", locals: { lawyer: @lawyer } %>
