<p>Dear <%= @admin.name %>,</p>
<p>This email confirms that your Admin account has been created on the Refugee Sponsorship Support Program web application.</p>
<p>You can now <%= link_to "click here", @activation_link %> to activate your account.</p>
<p>Before beginning to use the app, please make sure that you’ve been in touch with the national Refugee SSP Team to coordinate.</p>
<p>The Refugee SSP Team</p>
<p><i>If you’d like to reach us, please email refugeessp@uottawa.ca. Email replies directly to this message will not be received.</i></p>
