<p>A new student intake form has been submitted through the Refugee Sponsorship Support Program web application.</p>
<br>
<p>You can view the full details and follow up <%= link_to 'here.', @application_link %></p>
