<p>Hi RefugeeSSP Admin,</p>

<p>A new student has applied</p>
<div>Name: <%= @student.name %></div>
<div>Email: <%= @student.email %></div>

You can view the full details and follow up <%= link_to 'here.', "#{@app_url}/admin/users/#{@student.id}" %>
