<p><%= link_to "Back", student_internal_applications_path, class: 'btn btn-primary' %></p>

<%= render partial: "shared/application", locals: { application: @application, intake_form: @intake_form, follow_up_call_form: @follow_up_call_form, meeting_notes_form: @meeting_notes_form } %>
