<% content_for :javascript do %>
  <script>
    $(function() {
      new OttawaURSSP.SortableTable('#admin-applications-table');
    });
  </script>
<% end %>

<%= render partial: "admin/nav_bar", locals: { active: 'home' } %>

<div class="section">
  <h1>Sponsor Group Applications Requiring Action</h1>
  <% if @applications_requiring_action.present? %>
    <%= render partial: "admin/applications/applications", locals: { applications: @applications_requiring_action } %>
  <% end %>
</div>
