<p>Dear <%= @sponsor_group.name %>,</p>
<p>Congratulations on submitting your completed refugee sponsorship application to Citizenship and Immigration Canada!</p>
<p>We very much hope that the process of preparing this application with an SSP pro bono lawyer’s help has been a positive experience.</p>
<p>We look forward to hearing the outcome of your application.</p>
<p>If you have any questions or feedback in the meantime, please don’t hesitate to reach out to us at refugeessp@uottawa.ca.</p>
<p>All the best,</p>
<p>The Refugee SSP Team</p>
<p><i>If you’d like to reach us, please email refugeessp@uottawa.ca. Email replies directly to this message will not be received.</i></p>
