<p>Dear <%= @sponsor_group.name %>,</p>
<p>Congratulations on having your refugee sponsorship application approved! We are so happy to hear this news.</p>
<p>Please feel free to keep us informed of any further developments. We’re here to support you if any problems arise, and we look forward to hearing about your sponsored refugee’s travel dates and arrival when the time comes.</p>
<p>All the best,</p>
<p>The Refugee SSP Team</p>
<p>_______________________</p>
<p>“Sponsoring refugees is an amazing experience that saves lives, gives the gift of hope to people who are lost in despair and changes us forever as individuals and as a nation.”</p>
<p>– Liz McWeeny, Member of the Order of Canada, expert with over 35 years’ experience in refugee resettlement</p>
<p>_______________________</p>
<p><i>If you’d like to reach us, please email refugeessp@uottawa.ca. Email replies directly to this message will not be received.</i></p>
