<p>Dear <%= @sponsor_group.name %>,</p>
<p>We’re pleased to let you know that your refugee sponsorship application is has completed the expert review phase.</p>
<p>Any comments or corrections will be communicated to your pro bono lawyer direct email.</p>
<p>Please review and corrections or comments carefully with your pro bono lawyer before submitting.</p>
<p>All the best,</p>
<p>The Refugee SSP Team</p>
<p><i>If you’d like to reach us, please email refugeessp@uottawa.ca. Email replies directly to this message will not be received.</i></p>
