<p>Dear <%= @primary_sponsor.name %>,</p>
<p>This email confirms that your Sponsor Group account has been created on the Refugee Sponsorship Support Program web application.</p>
<p>You can now <%= link_to "activate your account", @activation_link %> to track your application.</p>
<p>You will soon be matched with a lawyer to support your sponsorship application process.</p>
<p>We appreciate your patience as we help to facilitate this process in collaboration with the local SSP coordinators in your area.</p>
<p>The Refugee SSP Team</p>
<p><i>If you’d like to reach us, please email refugeessp@uottawa.ca. Email replies directly to this message will not be received.</i></p>
