<p>Dear <%= @sponsor_group.name %>,</p>
<p>This email acknowledges your application to create an account with the Refugee Sponsorship Support Program (SSP).</p>
<p>A member of our team will be reviewing your application shortly and following up with you.</p>
<p>Thank you for your patience during this process.</p>
<p>The Refugee SSP Team</p>
<p><i>If you’d like to reach us, please email refugeessp@uottawa.ca. Email replies directly to this message will not be received.</i></p>
