<p>Dear <%= @sponsor_group.name %>,</p>
<p>We’ve heard that your sponsorship application is ready for review by one of our experts.</p>
<p>Congratulations on coming this far in the application process! We know that it requires a great deal of hard work and determination.</p>
<p>Your file will be assigned to an expert for review soon. Thank you for your patience as we undertake this process!</p>
<p>All the best,</p>
<p>The Refugee SSP Team</p>
<p><i>If you’d like to reach us, please email refugeessp@uottawa.ca. Email replies directly to this message will not be received. </i></p>
